<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page | Attendance System</title>
    <link rel="icon" href="/public/images/enter.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/2f7e07ebd2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/css/Login.css">
</head>

<body>
    <div class="main-container">
        <div class="container">
            <div class="first-container">
                <h1>Welcome To <span>FaceSync</span></h1>
                <form action=" /" method="post">
                    <p>Please login to your account</p>
                    <div class="user">
                        <i class="fa fa-user"></i>
                        <input type="text" name="username" placeholder="Username" required>
                    </div>
                    <div class="pass">
                        <i class="fa fa-lock"></i>
                        <input type="password" name="password" placeholder="Password" required>
                    </div>
                    <input class="btn" type="submit" name="Login" value="LOGIN">
                    <span><a id="forgetpassword" href="/">Forgot password?</a></span>
                </form>
                <div class="signup">
                    <span><a id="registration" href="/">Don't have an account?</a></span>
                    <span><a class="btn1" href="/">CREAT NEW</a></span>
                </div>
            </div>
        </div>
    </div>
</body>

</html>